@import "tailwindcss";

/* dark mode regulated with the dark class */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-poppins: "Poppins", san-serif;
    --color-primary: #014421;
    --color-light: #E6ECE9;
    --color-light-secondary: #8AA999;
    --color-very-green: #2BFF00;
    --color-app-bg: #FAFAFA;
}

@layer base {
    html {
        scroll-behavior: smooth;
      }
}

@layer components {
    .max-width {
        @apply max-w-[1440px] mx-auto px-4;
    }

    .card-shadow {
        @apply shadow-[0_4px_16px_0_rgba(0,0,0,0.1)]
    }
    
    .hide-scrollbar {
        /* Webkit browsers (Chrome, Safari, Edge) */
        -webkit-scrollbar {
            display: none;
        }
        
        /* Firefox */
        scrollbar-width: none;
        
        /* IE and Edge */
        -ms-overflow-style: none;
    }
}